.banner {
    background-image: url(./../images/banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 400px;
    color: var(--color-white);
    padding-left: 30px;
    margin-top: 30px;
}


.banner>h1 {
    padding-top: 120px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 54px;
    font-weight: 500;
    line-height: 100%;
}

.banner>p {
    margin-top: 23px;
}

@media screen and (max-width: 767px) {
    .banner {
        background-image: url(./../images/banner-min.webp);
        height: 300px;
        padding-left: 30px;
        margin-top: 7px;
        padding-left: 18px;
    }

    .banner>h1 {
        padding-top: 45px;
        font-size: 40px;
    }
}


@media screen and (max-width:425px) {
    .banner {
        height: 191px;
    }

    .banner>h1 {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: -0.5%;
        padding-top: 44px;
    }

    .banner>p {
        margin-top: 12px;
        width: 200px;
    }
}