.popular {
    margin-top: 30px;
}

.popular__headline {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.popular__headline>button {
    background: none;
    color: var(--color-blue);
}

.popular__sort {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}



.popular__sort>li>a {
    display: flex;
    align-items: center;
    color: var(--color-black2C);
    background-color: var(--color-grayF4);
    padding-right: 10px;
    border-radius: 20px;
    height: 32px
}


.popular__sort>li>a>img {
    margin-right: 5px;
    border-radius: 50% 0% 0% 50%;
    width: 28px;
    height: 32px;
}


.popular__search {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 35px;
    display: flex;
}


.popular__search>button {
    display: flex;
    background: none;
    align-items: center;
}


.popular__search>button>div {
    margin-right: 10px;
}


.strip {
    background-color: var(--color-black1C);
    height: 2px;
}

.strip-1 {
    width: 5px;
}

.strip-2 {
    width: 10px;
    margin: 5px 0;
}

.strip-3 {
    width: 16px;
}

.search-input {
    width: 300px;
    height: 30px;
    padding-left: 23px;
    border: none;
    background-image: url('./../images/lupe.svg');
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 16px;
    border-bottom: 1px solid #d5d1d1;
}

.search-input::placeholder {
    color: var(--color-black1C);
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .hero {
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .popular__sort.collapsed {
        max-height: calc(2 * (1em + 16px + 13px * 2));
        overflow: hidden;
    }

    .links-list.expanded {
        max-height: 100%;
    }

    .popular__search {
        gap: 15px;
    }

    .popular__text {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .popular__text>button {
        color: var(--color-blue);
        background: none;
    }
}

@media screen and (max-width: 375px) {
    .search-input {
        width: 270px;
    }
}