@import "./header.css";
@import "./hero.css";
@import "./popular.css";
@import "./bloglist.css";
@import "./label.css";
@import "./interes.css";
@import "./brands.css";
@import "./subscription.css";
@import "./search.css";
@import "./brand-desc.css";
@import "./blog.css";
@import "./blog-arcticle.css";
@import "./blog-comments.css";
@import "./similar-article.css";
@import "./thanks.css";
@import "./contacts.css";
@import "./contact-map.css";
@import "./modals.css";
@import "./search-menu.css";
@import "./footer.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}


li {
  list-style-type: none;
}


button {
  cursor: pointer;
  border: none;
}



.send-img {
  margin-left: 10px;
}


:root {
  --color-black1C: #1C1C1C;
  --color-black2C: #2C2C2C;
  --color-gray: #BEBEBE;
  --color-grayF1: #F1F1F1;
  --color-grayF8: #F8F8F8;
  --color-grayF6: #F6F6F6;
  --color-grayAO: #A0A0A0;
  --color-grayF4: #F4F4F4;
  --color-grayF5: #F5F5F5;
  --color-grayFA: #FAFAFA;
  --color-gray56: #565656;
  --color-white: #FFFFFF;
  --color-blue: #0055CC;
  --color-blueEE: #2AABEE;
  --color-sky-blue: #A7CAFF;
  --color-green: #2CAE35;
  --color-green66: #25D366;
}

.container {
  max-width: 1225px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}


.text-h1 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 500;
  line-height: 100%;
}

.text-h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 114%;
}

.text-h3-bold {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
}

.text-h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.text20 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 114%;
}

.text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}


.text16 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.text14 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
}


.text-small {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.standart-btn {
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}

.showbtn {
  margin: 20px auto;
  padding: 10px 20px;
  background: var(--color-grayF8);
  color: var(--color-black1C);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.blogbtnblue {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 100px;
}

.blogbtnwhite {
  border-radius: 100px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
}


input {
  font-family: "SFProText", "Arial", sans-serif;
  font-size: 16px;
  color: var(--color-black2C);
  padding-left: 10px;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

textarea {
  font-family: "SFProText", "Arial", sans-serif;
  font-size: 16px;
  color: var(--color-black2C);
  padding: 20px 10px 10px 10px;
}

::-webkit-input-placeholder {
  font-family: "SFProText", "Arial", sans-serif;
  color: var(--color-grayAO);
}

:-moz-placeholder {
  font-family: "SFProText", "Arial", sans-serif;
  color: var(--color-grayAO);
}

::-moz-placeholder {
  font-family: "SFProText", "Arial", sans-serif;
  color: var(--color-grayAO);
}

:-ms-input-placeholder {
  font-family: "SFProText", "Arial", sans-serif;
  color: var(--color-grayAO);
}


.inputform {
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #A0A0A0;
  background-color: transparent;
}

.style-color-arrow>path:hover {
  fill: #BEBEBE
}

.blockbg {
  background: var(--color-grayFA);
  border-radius: 20px;
}

.breadcrumbs-container {
  width: 100%;
  margin-top: 45px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
}

.breadcrumbs li:not(:last-child)::after {
  content: "|";
  margin: 0 8px;
  color: var(--color-black2C)
}

.breadcrumbs li a {
  color: var(--color-black2C);
  text-decoration: none;
}

.breadcrumbs li a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 767px) {
  .text-h1 {
    font-size: 48px;
    font-weight: 600;
  }

  .text-h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
  }

  .text-h3-bold {
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
  }

  .text-h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
  }

  .text20 {
    font-size: 16px;
  }

  .text {
    font-size: 16px;
  }

  .breadcrumbs-container {
    margin-top: 20px;
  }

  .standart-btn {
    font-size: 20px !important;
    padding: 10px 10px 10px 10px;
  }

  .send-img {
    width: 20px;
  }
}