@import "./header.css";
@import "./hero.css";
@import "./popular.css";
@import "./bloglist.css";
@import "./label.css";
@import "./interes.css";
@import "./brands.css";
@import "./subscription.css";
@import "./search.css";
@import "./footer.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0;
  max-width: 100%;
  padding: 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  line-height: 0;
  cursor: pointer;
}

li {
  list-style-type: none;
}


button {
  cursor: pointer;
  border: none;
}

:root {
  --color-black1C: #1C1C1C;
  --color-black2C: #2C2C2C;
  --color-gray: #BEBEBE;
  --color-grayF8: #F8F8F8;
  --color-grayF4: #F4F4F4;
  --color-grayF5: #F5F5F5;
  --color-grayFA: #FAFAFA;
  --color-gray56: #565656;
  --color-white: #FFFFFF;
  --color-blue: #0055CC;
  --color-sky-blue: #A7CAFF;
  --color-green: #2CAE35;

}

.container {
  max-width: 1225px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}


.text-h1 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 500;
  line-height: 100%;
}

.text-h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 114%;
}

.text-h3-bold {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
}

.text-h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.text16 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.text14 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
}


.text-small {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.showbtn {
  margin: 20px auto;
  padding: 10px 20px;
  background: var(--color-grayF8);
  color: var(--color-black1C);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-family: "SFProText", "Arial", sans-serif;
  color: var(--color-black2C);
}

:-moz-placeholder {
  color: #ccc;
  font-family: "SFProText", "Arial", sans-serif;
  color: var(--color-black2C);
}

::-moz-placeholder {
  color: #ccc;
  font-family: "SFProText", "Arial", sans-serif;
  color: var(--color-black2C);
}

:-ms-input-placeholder {
  color: #ccc;
  font-family: "SFProText", "Arial", sans-serif;
  color: var(--color-black2C);
}

input {
  padding-left: 10px;
}

.style-color-arrow>path:hover {
  fill: #BEBEBE
}


@media screen and (max-width: 767px) {
  .text-h1 {
    font-size: 48px;
    font-weight: 600;
  }

  .text-h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
  }

  .text-h3-bold {
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
  }

  .text-h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
  }

  .text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
  }

}